.products {
    margin: 10px
}

.products .product {
    background-color: #fff;
    padding: 10px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px
}

.products .product:last-child {
    margin-bottom: 0px
}

.products .product .img {
    width: 80px;
    height: 80px
}

.products .product .title-box {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 110px);
    margin: auto 0;
    margin-left: 10px;
    margin-right: 20px
}

.products .product .title-box .title {
    text-align: left;
    color: #333
}

.products .product .title-box .title .name {
    font-size: 16px
}

.products .product .title-box .title .enname {
    margin-top: 10px;
    font-size: 14px
}

.products .product .title-box .price {
    font-size: 14px;
    font-weight: bold;
    color: #71210e;
    margin: auto 0
}